@charset "UTF-8";
/*style css*/
:root {
  --frame-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
  --photo-shadow: 0 3px 6px rgba(0,0,0,.16);
  --border-radius: 5px;
}

body, html {
  height: 100%;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background: #f8f8f8;
  color: #333333;
  padding-top: 50px;
  /**03/11/21 Update for overwrite boostrap*/
  line-height: inherit;
}
@media screen and (min-width: 992px) {
  body {
    padding-top: 0px;
  }
  body.ontop {
    margin-top: 50px;
  }
}
body.m-menu-noscroll {
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  body.m-menu-noscroll {
    overflow: auto;
  }
}

a {
  text-decoration: none;
  color: #333333;
}
a.underline {
  text-decoration: underline;
}
a.underline:hover {
  text-decoration: underline;
}
a:hover {
  /**03/11/21 Update for overwrite boostrap*/
  color: inherit;
  text-decoration: none;
}

label {
  /**03/11/21 Update for overwrite boostrap*/
  margin-bottom: 0px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

menu {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

button {
  padding: 0px;
}

.my-menu {
  position: relative;
  cursor: pointer;
  min-height: 25px;
}
.my-menu .text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 15px;
  white-space: nowrap;
}
.my-menu .text:after {
  content: "⌵";
  font-size: 14px;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(calc(-50% - 1.5px));
}
.my-menu .menu-frame {
  display: none;
  position: absolute;
  z-index: 11;
  left: 0px;
  top: 100%;
  background-color: #ffffff;
  min-width: 112px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: 300px;
  border-radius: 4px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 5px 0px;
}
.my-menu .menu-frame .menu-item {
  -webkit-user-select: none;
          user-select: none;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  height: 36px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.87);
  padding: 0 16px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.my-menu .menu-frame .menu-item a {
  display: inline-block;
  width: 100%;
}
.my-menu .menu-frame .menu-item:hover {
  background-color: #f0f0f0;
}

.download_btn {
   position:fixed;
   bottom:70px;
   right:20px;
   width:100px;
   margin:10px;
}
@media screen and (max-width: 500px) {
   .download_btn {
      width:80px;
   }
}

.my-container {
  max-width: 500px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding: 0px 20px;
}
@media screen and (min-width: 768px) {
  .my-container {
    max-width: 1280px;
  }
}

.col-left {
  flex: 0 0 100%;
  max-width: 100%;
}
@media screen and (min-width: 992px) {
  .col-left {
    flex: 0 0 calc(100% - 366px);
    max-width: calc(100% - 366px);
  }
}

.col-right {
  flex: 0 0 100%;
  max-width: 100%;
}
@media screen and (min-width: 992px) {
  .col-right {
    flex: 0 0 366px;
    max-width: 366px;
  }
}
.subject-title {
  width: 100%;
  height: 50px;
  margin-top: 25px;
  margin-bottom: 20px;
  position: relative;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subject-title:before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #aaaaaa;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-radius: 10px;
}
.subject-title .text {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  height: 100%;
  transition: color 0.1s ease-in-out;
  cursor: default;
}
.subject-title .text:before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #F49C00;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-radius: 10px;
}
.subject-title .text.small {
  font-size: 18px;
}
.subject-title .text[href]:hover {
  cursor: pointer;
  color: #F49C00;
}
.subject-title .text.border-grey {
  border-bottom: 3px solid #555;
}
@media screen and (min-width: 768px) {
  .subject-title .text {
    font-size: 22px;
  }
}
@media screen and (min-width: 992px) {
  .subject-title .text {
    font-size: 24px;
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 10px 0px;
  margin-top: 25px;
}
.breadcrumbs.dash {
  height: 53px;
  margin-bottom: 20px;
  border-bottom: 3px solid #aaa;
}
.breadcrumbs .link {
  font-size: 14px;
  color: #888888;
  transition: color 0.3s ease-in-out;
}
.breadcrumbs .link:hover {
  color: #333333;
}
.breadcrumbs .link.current {
  pointer-events: none;
}
.breadcrumbs .icon {
  width: 10px;
  height: 10px;
  margin: 0px 10px;
}

.label {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background-color: #F49C00;
  font-size: 12px;
  color: #ffffff;
  padding: 3px 8px;
  border-radius: 3px;
  display: inline-block;
  white-space: nowrap;
  box-sizing: content-box;
}
.label.grey {
  background-color: #aaaaaa;
}

.date {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.date .icon {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.square-ad {
  margin-top: 20px;
  text-align: center;
  background-color: #E6E8EB;
  padding: 20px 0px;
  border-radius: var(--border-radius);
}

.my-checkbox {
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding-left: 28px;
  height: 18px;
  -webkit-user-select: none;
  user-select: none;
}
.my-checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
}
.my-checkbox input:checked ~ .checkmark:before {
  background-color: #F49C00;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 405.272 405.272' fill='white'%3E%3Cpath d='M393.401 124.425L179.603 338.208c-15.832 15.835-41.514 15.835-57.361 0L11.878 227.836c-15.838-15.835-15.838-41.52 0-57.358 15.841-15.841 41.521-15.841 57.355-.006l81.698 81.699L336.037 67.064c15.841-15.841 41.523-15.829 57.358 0 15.835 15.838 15.835 41.514.006 57.361z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center;
}
.my-checkbox .checkmark:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  font-size: 14px;
  color: #ffffff;
  border-radius: 3px;
  background-color: #dddddd;
}
.my-checkbox .checkmark:hover:before {
  background-color: #cccccc;
}

.my-input {
  position: relative;
  height: 45px;
}
.my-input .icon {
  position: absolute;
  left: 0px;
  bottom: 8px;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
.my-input .icon + input {
  margin-left: 25px;
}
.my-input .icon ~ .input-label {
  left: 25px;
}
.my-input .input-label {
  z-index: 1;
  position: absolute;
  left: 0px;
  top: calc(100% - 22px - 6px);
  font-size: 16px;
  color: #888;
  display: inline-flex;
  align-items: center;
}
.my-input input {
  z-index: 2;
  position: absolute;
  width: 100%;
  margin-bottom: 4px;
  bottom: 0;
  left: 0px;
  color: #333333;
  border: none;
  outline: none;
  transition: border 0.1s;
  background-color: transparent;
}
.my-input input.hasDefault + .input-label {
  animation-name: small;
  animation-duration: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transform-origin: 0px 0px;
}
.my-input input.hasvalue + .input-label {
  animation-name: small;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transform-origin: 0px 0px;
}
.my-input input.novalue + .input-label {
  animation-name: large;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transform-origin: 0px 0px;
}
.my-input input:focus + .input-label {
  animation-name: small;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transform-origin: 0px 0px;
}
.my-input input:focus::placeholder {
  color: #888888;
}
.my-input input::placeholder {
  color: transparent;
}
.my-input input:-ms-input-placeholder {
  color: transparent;
}
.my-input input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.my-input:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #c8c8c8;
  bottom: 0px;
}
.my-input:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  transition: width 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  bottom: -1px;
}
.my-input.focus:after {
  background: #F49C00;
  width: 100%;
}
@keyframes small {
  to {
    transform: scale(0.75);
    top: 0px;
    color: #F49C00;
  }
}
@keyframes large {
  from {
    transform: scale(0.75);
    top: 0px;
    color: #F49C00;
  }
  to {
    transform: scale(1);
    top: calc(100% - 22px - 6px);
    color: #888888;
  }
}

.my-button {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
          user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.my-button:active {
  outline: none;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.my-button:focus {
  outline: none;
}
.my-button.round {
  border-radius: 100px;
}
.my-button.black {
  background-color: #222;
  color: #ffffff;
}
.my-button.digi-color {
  background-color: #F49C00;
  color: #ffffff;
}

.mt-0 {
  margin-top: 0px;
}

.mt-15 {
  margin-top: 15px;
}

::selection {
  background: #F49C00;
  color: #ffffff;
}

/*news-layout css*/
/** 
	* .topic-frame
	* 03/12/21 Update 
	* add class name => class-1
**/
.topic-frame {
  box-shadow: var(--photo-shadow);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 0px;
  width: 100%;
  padding-bottom: 66.66%;
  display: flex;
  justify-content: center;
  position: relative;
  transition: background-size 800ms cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: var(--border-radius);
}
.topic-frame:after {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  content: "";
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  border-radius: var(--border-radius);
}
.topic-frame.mb-20 {
  margin-bottom: 20px;
}
.topic-frame.mb-30 {
  margin-bottom: 30px;
}
.topic-frame:hover {
  background-size: 110%;
}
.topic-frame.class-1:after {
  position: absolute;
  background: rgba(0, 0, 0, 0.45);
  content: "";
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  border-radius: var(--border-radius);
}
.topic-frame.class-1 .title {
  font-size: 16px;
  color: inherit;
  background-color: #ffffff;
  border-radius: 3px;
  padding: 4px 8px;
}
.topic-frame .title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  font-weight: 500;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-inline-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  transition: color 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  word-wrap: break-word;
  max-width: calc(100% - 40px);
}
.topic-frame .title:hover {
  color: #F49C00;
}

.text-news {
  display: block;
  box-shadow: var(--frame-shadow);
  width: 100%;
  background-color: #ffffff;
  border-radius: var(--border-radius);
  padding: 15px;
  transition: box-shadow 200ms cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-bottom: 20px;
}
.text-news:hover {
  box-shadow: var(--photo-shadow);
}
.text-news .title {
  width: 100%;
  font-size: 17px;
  line-height: 1.4;
  font-weight: 500;
  display: block;
}
.text-news .title:hover {
  color: #e59200;
}
.text-news .date {
  margin-top: 10px;
}

.more-news {
  width: 100%;
  background-color: #ffffff;
  padding: 15px;
  border-radius: var(--border-radius);
  box-shadow: var(--frame-shadow);
  margin-bottom: 25px;
}
.more-news .top {
  display: flex;
  justify-content: space-between;
  height: 90px;
}
@media screen and (min-width: 768px) {
  .more-news .top {
    height: 110px;
  }
}
.more-news .top .photo {
  display: block;
  width: 70px;
  min-width: 70px;
  height: 70px;
  border-radius: var(--border-radius);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .more-news .top .photo {
    width: 100px;
    min-width: 100px;
    height: 100px;
  }
}
.more-news .top .wrapper {
  width: 100%;
  padding-right: 15px;
  height: 100%;
  position: relative;
}
.more-news .top .title {
  margin-top: 5px;
  width: 100%;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media screen and (min-width: 768px) {
  .more-news .top .title {
    font-size: 18px;
  }
}
.more-news .top .title:hover {
  color: #F49C00;
}
.more-news .top .date {
  margin-top: 10px;
}
.more-news .abstract {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin-top: 15px;
  line-height: 1.4;
  color: #666666;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media screen and (min-width: 768px) {
  .more-news .abstract {
    font-size: 16px;
  }
}

.range-news {
  box-shadow: var(--frame-shadow);
  width: 100%;
  background-color: #ffffff;
  border-radius: var(--border-radius);
  padding: 20px;
}
.range-news ul {
  counter-reset: number;
}
.range-news ul .item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}
.range-news ul .item .link {
  display: inline-block;
  font-size: 16px;
  line-height: 1.4;
  margin-top: -1px;
}
.range-news ul .item::before {
  counter-increment: number;
  content: counter(number);
  background-color: #222222;
  color: #ffffff;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  min-width: 20px;
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 21px;
  margin-right: 10px;
}
.range-news ul .item:last-child {
  margin-bottom: 0px;
}
.range-news ul .item:hover .link {
  color: #F49C00;
}
.range-news ul .item:hover::before {
  background-color: #F49C00;
}

/**
	* .related-news-frame
	* 03/12/21
	* Add
*/
.related-news-frame .list {
  border-bottom: 1px solid #e8e8e8;
  padding-top: 15px;
  padding-bottom: 15px;
}
.related-news-frame .list:first-child {
  padding-top: 0px;
}
.related-news-frame .list:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}
.related-news-frame .list .title {
  display: block;
  width: 100%;
  font-size: 17px;
  line-height: 1.4;
  font-weight: 500;
}
.related-news-frame .list .title:hover {
  color: #e59200;
}
.related-news-frame .list .bottom {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.related-news-frame .list .bottom .label {
  margin-right: 15px;
}

.display-1 {
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: var(--border-radius);
  box-shadow: var(--frame-shadow);
}
.display-1 .main-photo {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 100%;
  height: 0;
  padding-bottom: 66.66%;
  display: block;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  position: relative;
  transition: background-size 800ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
.display-1 .main-photo:after {
  position: absolute;
  background-image: linear-gradient(transparent, #111), linear-gradient(transparent, #111);
  content: "";
  height: 70%;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  opacity: 0.8;
}
.display-1 .main-photo:hover {
  background-size: 105%;
}
.display-1 .main-photo .title-frame {
  padding: 0px 20px;
  position: absolute;
  z-index: 2;
  bottom: 20px;
}
@media screen and (min-width: 992px) {
  .display-1 .main-photo .title-frame {
    bottom: 30px;
  }
}
.display-1 .main-photo .title-frame .date {
  color: #ffffff;
  margin-bottom: 8px;
  margin-top: 12px;
}
.display-1 .main-photo .title-frame .title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media screen and (min-width: 992px) {
  .display-1 .main-photo .title-frame .title {
    font-size: 24px;
  }
}
.display-1 .main-photo .title-frame .title:hover {
  color: #F49C00;
}
.display-1 .related-frame {
  padding: 0px 20px;
}
.display-1 .related-frame .item-frame {
  display: block;
  width: 100%;
  padding: 20px 0px;
  border-bottom: 1px solid #e8e8e8;
}
.display-1 .related-frame .item-frame:last-child {
  border-bottom: none;
}
.display-1 .related-frame .item-frame:hover .title {
  color: #F49C00;
}
.display-1 .related-frame .item-frame .title {
  width: 100%;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.4;
  margin-top: 10px;
  display: block;
}

.display-2 .main-photo {
  box-shadow: var(--photo-shadow);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  height: 0px;
  padding-bottom: 66.66%;
  display: block;
  border-radius: var(--border-radius);
  position: relative;
  margin-bottom: 20px;
  transition: background-size 800ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
@media screen and (min-width: 992px) {
  .display-2 .main-photo {
    height: 300px;
    padding-bottom: 0%;
  }
}
.display-2 .main-photo:hover {
  background-size: auto 108%;
}
.display-2 .main-photo:after {
  position: absolute;
  background-image: linear-gradient(transparent, #111), linear-gradient(transparent, #111);
  content: "";
  height: 70%;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  opacity: 0.8;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.display-2 .main-photo .title-frame {
  padding: 0px 20px;
  position: absolute;
  z-index: 2;
  bottom: 20px;
}
.display-2 .main-photo .title-frame .date {
  color: #ffffff;
  font-size: 13px;
  margin-bottom: 8px;
  margin-top: 12px;
}
.display-2 .main-photo .title-frame .title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.display-2 .main-photo .title-frame .title:hover {
  color: #F49C00;
}
.display-2 .item-frame {
  display: block;
  border-bottom: 1px solid #aaa;
  padding: 15px 0px;
}
.display-2 .item-frame:first-child {
  padding-top: 0px;
}
.display-2 .item-frame:last-child {
  border-bottom: none;
}
.display-2 .item-frame:hover .title {
  color: #F49C00;
}
.display-2 .item-frame .title {
  font-size: 15px;
  line-height: 1.4;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.display-2 .item-frame .date {
  font-size: 12px;
  margin-top: 10px;
}
.display-2 .item-frame .date .icon {
  width: 12px;
  height: 12px;
  margin-right: 4px;
}

.display-3-frame {
  display: block;
  box-shadow: var(--frame-shadow);
  border-radius: var(--border-radius);
  width: 100%;
  background-color: #ffffff;
  padding-bottom: 20px;
  transition: box-shadow 200ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
.display-3-frame:hover {
  box-shadow: var(--photo-shadow);
}
.display-3-frame.pb-10 {
  padding-bottom: 10px;
}
.display-3-frame.mb-20 {
  margin-bottom: 20px;
}
.display-3-frame.mb-30 {
  margin-bottom: 30px;
}
.display-3-frame.heavy .date {
  margin-top: 15px;
  font-size: 14px;
}
.display-3-frame.heavy .date .icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.display-3-frame.heavy .title {
  font-size: 24px;
  padding: 0px 20px;
  min-height: 0px;
  height: auto;
  display: block;
}
.display-3-frame.heavy .title:hover {
  color: #e59200;
}
.display-3-frame.heavy .abstract {
  height: auto;
  min-height: 0px;
}
.display-3-frame .photo {
  width: 100%;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  display: inherit;
}
.display-3-frame .date {
  font-size: 13px;
  margin-top: 14px;
  padding: 0px 20px;
}
.display-3-frame .date .icon {
  margin-right: 4px;
}
.display-3-frame .title {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 600;
  margin-top: 10px;
  padding: 0px 20px;
  transition: color 200ms cubic-bezier(0.25, 0.8, 0.25, 1);
  display: block;
}
@media screen and (min-width: 768px) {
  .display-3-frame .title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 52px;
    height: 52px;
  }
}
@media screen and (min-width: 992px) {
  .display-3-frame .title {
    font-size: 17px;
    min-height: 48px;
    height: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .display-3-frame .title {
    font-size: 18px;
    min-height: 52px;
    height: 52px;
  }
}
.display-3-frame .title.small {
  font-size: 15px;
  min-height: 0px;
  height: auto;
  padding: 0px 15px;
}
.display-3-frame .title:hover {
  color: #e59200;
}
.display-3-frame .abstract {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-top: 10px;
  color: #888888;
  border-left: 3px solid #ccc;
  padding-left: 8px;
  margin-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
@media screen and (min-width: 768px) {
  .display-3-frame .abstract {
    min-height: 60px;
    height: 60px;
  }
}
.display-3-frame .abstract.small {
  margin-left: 15px;
  padding-right: 15px;
}

.display-4 {
  box-shadow: var(--photo-shadow);
  border-radius: var(--border-radius);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 100%;
  height: 0;
  padding-bottom: 66.66%;
  display: block;
  position: relative;
  transition: background-size 800ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
.display-4:after {
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75) 0%, transparent 100%);
  content: "";
  height: 70%;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.display-4:hover {
  background-size: 110%;
}
.display-4 .label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 4px 9px;
}
@media screen and (min-width: 768px) {
  .display-4 .label {
    padding: 2px 8px;
    top: 10px;
    left: 10px;
  }
}
.display-4 .title-frame {
  padding: 0px 15px;
  position: absolute;
  z-index: 2;
  bottom: 15px;
}
@media screen and (min-width: 768px) {
  .display-4 .title-frame {
    padding: 0px 10px;
    bottom: 10px;
  }
}
.display-4 .title-frame .date {
  color: #ffffff;
  font-size: 13px;
  margin-bottom: 3px;
}
.display-4 .title-frame .title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media screen and (min-width: 768px) {
  .display-4 .title-frame .title {
    font-size: 16px;
  }
}
.display-4 .title-frame .title:hover {
  color: #F49C00;
}

/**
	* .display-5
	* 03/12/21
	* Add
*/
.display-5 {
  width: 100%;
  background-color: #ffffff;
  border-radius: var(--border-radius);
  box-shadow: var(--frame-shadow);
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .display-5 {
    display: flex;
    align-items: center;
    height: calc(300px * 2 / 3);
  }
}
@media screen and (min-width: 992px) {
  .display-5 {
    height: calc(250px * 2 / 3);
  }
}
@media screen and (min-width: 1200px) {
  .display-5 {
    height: calc(300px * 2 / 3);
  }
}
.display-5:hover {
  box-shadow: var(--photo-shadow);
}
.display-5 .photo {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  height: 0px;
  padding-bottom: 66.66%;
}
@media screen and (min-width: 768px) {
  .display-5 .photo {
    border-top-right-radius: 0px;
    border-bottom-left-radius: var(--border-radius);
    height: 100%;
    padding-bottom: 0px;
    width: 300px;
    min-width: 300px;
  }
}
@media screen and (min-width: 992px) {
  .display-5 .photo {
    width: 250px;
    min-width: 250px;
  }
}
@media screen and (min-width: 1200px) {
  .display-5 .photo {
    width: 300px;
    min-width: 300px;
  }
}
.display-5 .right {
  padding: 20px 20px;
  height: 100%;
}
.display-5 .right .title {
  display: block;
  margin-top: 10px;
  width: 100%;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .display-5 .right .title {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
@media screen and (min-width: 992px) {
  .display-5 .right .title {
    -webkit-line-clamp: 2;
  }
}
@media screen and (min-width: 1200px) {
  .display-5 .right .title {
    -webkit-line-clamp: 3;
  }
}
.display-5 .right .title:hover {
  color: #F49C00;
}
.display-5 .right .abstract {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-top: 10px;
  color: #888888;
  border-left: 3px solid #ccc;
  padding-left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
@media screen and (min-width: 768px) {
  .display-5 .right .abstract {
    -webkit-line-clamp: 3;
  }
}
@media screen and (min-width: 992px) {
  .display-5 .right .abstract {
    -webkit-line-clamp: 2;
  }
}
@media screen and (min-width: 1200px) {
  .display-5 .right .abstract {
    -webkit-line-clamp: 3;
  }
}

/*header css*/
.gotop {
  width: 30px;
  height: 30px;
  position: fixed;
  z-index: 10;
  bottom: -40px;
  right: 20px;
  border-radius: 100%;
  background-color: rgba(244, 156, 0, 0.7);
  transition: all 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: scale(1.2);
}
.gotop:hover {
  transform: scale(1.2);
  background-color: rgba(244, 156, 0, 0.9);
}
@media screen and (min-width: 768px) {
  .gotop {
    transform: scale(1);
  }
}
.gotop.show {
  bottom: 20px;
}
.gotop .icon {
  width: 15px;
  height: 15px;
  transform: rotate(270deg);
}

.header .subscribe {
  display: flex;
  align-items: center;
  margin-left: 15px;
  color: #ffffff;
  background-color: #CE3225;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  padding: 0px 10px;
  height: 100%;
  letter-spacing: 1px;
}
.header .subscribe svg {
  width: 20px;
  height: 20px;
  margin-top: -3px;
  margin-right: 5px;
  fill: #ffffff;
}
.header .profile {
  margin-left: 15px;
  min-width: 38px;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.15);
  transition: background-color 100ms cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 100%;
}
.header .profile:hover {
  background-color: rgba(255, 255, 255, 0.22);
}
.header .profile svg {
  width: 18px;
  height: 18px;
  fill: #ffffff;
}
.header .profile .menu-frame {
  left: auto;
  right: -15px;
}
.header .sub-header {
  background-color: #111111;
  width: 100%;
  display: none;
}
@media screen and (min-width: 992px) {
  .header .sub-header {
    display: block;
  }
}
.header .sub-header .sub-header-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 50px;
}
.header .sub-header .sub-header-wrapper .brand-logo svg {
  width: 250px;
  height: 28px;
}
.header .sub-header .sub-header-wrapper section {
  display: flex;
  align-items: center;
}
.header .sub-header .sub-header-wrapper section:nth-child(2) {
  justify-content: flex-end;
}
@media screen and (min-width: 992px) {
  .header .sub-header .sub-header-wrapper .search-input {
    width: 160px;
  }
}
@media screen and (min-width: 1200px) {
  .header .sub-header .sub-header-wrapper .search-input {
    width: 190px;
  }
}
.header .sub-header .sub-header-wrapper .subscribe {
  padding: 10px;
  border-radius: 6px;
}
.header .sub-header .sub-header-wrapper .data-frame {
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: #ffffff;
  white-space: nowrap;
}
.header .sub-header .sub-header-wrapper .data-frame.tw .text {
  font-family: "微軟正黑體", sans-serif;
}
.header .sub-header .sub-header-wrapper .data-frame.tw .menu-frame .menu-item {
  font-family: "微軟正黑體", sans-serif;
}
.header .sub-header .sub-header-wrapper .data-frame .icon {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  fill: #ffffff;
}
.header .sub-header .sub-header-wrapper .data-frame .info {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
}
.header .main-header {
  background-color: #111111;
  width: 100%;
  display: none;
}
@media screen and (min-width: 992px) {
  .header .main-header {
    display: block;
  }
}
.header .main-header.ontop {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 10;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.header .main-header.ontop + .trending-frame {
  display: none;
}
.header .main-header.ontop .main-header-wrapper {
  justify-content: flex-start;
}
.header .main-header.ontop .main-header-wrapper .brand-logo {
  margin-right: 30px;
}
@media screen and (min-width: 1200px) {
  .header .main-header.ontop .main-header-wrapper .brand-logo {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .header .main-header.ontop .main-header-wrapper .brand-logo svg {
    width: 180px;
    height: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .header .main-header.ontop .main-header-wrapper .brand-logo svg {
    width: 180px;
    height: 20px;
  }
}
.header .main-header.ontop .main-header-wrapper section {
  display: flex;
}
.header .main-header.ontop .main-header-wrapper section .subscribe {
  margin-left: 0px;
}
.header .main-header .main-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.header .main-header .main-header-wrapper .brand-logo {
  display: none;
}
.header .main-header .main-header-wrapper nav.main-nav-frame > ul {
  display: flex;
  align-items: center;
}
.header .main-header .main-header-wrapper nav.main-nav-frame > ul .main-link {
  position: relative;
}
.header .main-header .main-header-wrapper nav.main-nav-frame > ul .main-link:first-child .main-title {
  padding-left: 0px;
}
.header .main-header .main-header-wrapper nav.main-nav-frame > ul .main-link:hover menu {
  visibility: visible;
  opacity: 1;
}
.header .main-header .main-header-wrapper nav.main-nav-frame > ul .main-link:hover menu.vertical {
  visibility: visible;
}
.header .main-header .main-header-wrapper nav.main-nav-frame > ul .main-link:hover menu.vertical .label {
  margin-top: 10px;
}
.header .main-header .main-header-wrapper nav.main-nav-frame > ul .main-link .main-title {
  font-size: 17px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  line-height: 40px;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
  transition: color 200ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
.header .main-header .main-header-wrapper nav.main-nav-frame > ul .main-link .main-title:hover {
  color: #F49C00;
}
.header .main-header .main-header-wrapper nav.main-nav-frame > ul .main-link .main-title.focus {
  color: #F49C00;
}
.header .main-header .main-header-wrapper nav.main-nav-frame > ul .main-link .main-title .new-icon {
  width: 34px;
  height: 34px;
}
.header .main-header .main-header-wrapper nav.main-nav-frame > ul .main-link menu {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 37px;
  padding: 15px 0px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(51, 51, 51, 0.2);
  z-index: 3;
  opacity: 0;
  transition: opacity 250ms;
}
.header .main-header .main-header-wrapper nav.main-nav-frame > ul .main-link menu .block {
  padding: 0px 15px;
  display: table;
}
.header .main-header .main-header-wrapper nav.main-nav-frame > ul .main-link menu .block-row {
  display: flex;
  margin: 0px -7.5px;
}
.header .main-header .main-header-wrapper nav.main-nav-frame > ul .main-link menu .block-row > ul {
  padding: 0px 7.5px;
}
.header .main-header .main-header-wrapper nav.main-nav-frame > ul .main-link menu label {
  font-size: 14px;
  font-weight: 800;
  color: rgba(206, 50, 37, 0.9);
  margin-bottom: 10px;
  white-space: nowrap;
}
.header .main-header .main-header-wrapper nav.main-nav-frame > ul .main-link menu .item {
  width: 100%;
  margin-bottom: 12px;
  white-space: nowrap;
}
.header .main-header .main-header-wrapper nav.main-nav-frame > ul .main-link menu .item:last-child {
  margin-bottom: 0px;
}
.header .main-header .main-header-wrapper nav.main-nav-frame > ul .main-link menu .item.home {
  display: none;
}
.header .main-header .main-header-wrapper nav.main-nav-frame > ul .main-link menu .item .link {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  transition: color 200ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
.header .main-header .main-header-wrapper nav.main-nav-frame > ul .main-link menu .item .link:hover {
  color: #F49C00;
}
.header .main-header .main-header-wrapper nav.main-nav-frame > ul .main-link menu .item .link:hover .icon {
  fill: #F49C00;
}
.header .main-header .main-header-wrapper nav.main-nav-frame > ul .main-link menu .item .link .icon {
  transition: fill 200ms cubic-bezier(0.25, 0.8, 0.25, 1);
  min-width: 2;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  margin-top: -1.5px;
  fill: #333333;
}
.header .main-header .main-header-wrapper section {
  margin-left: auto;
  height: 100%;
  display: none;
  align-items: center;
}
.header .main-header .main-header-wrapper .seperate {
  border-right: 1px solid #ffffff;
  height: 20px;
  margin-right: 15px;
  margin-bottom: 3px;
}
.header .trending-frame {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0px 3px 8px rgba(10, 11, 12, 0.1);
}
@media screen and (min-width: 992px) {
  .header .trending-frame {
    display: flex;
  }
}
.header .trending-frame label {
  font-weight: 900;
  color: #CE3225;
  letter-spacing: 0px;
  margin-right: 20px;
}
.header .trending-frame .link {
  color: #111111;
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
  padding: 7px 0px;
}
.header .trending-frame .link:hover {
  color: #CE3225;
}
.header .trending-frame .link:after {
  content: "｜";
  margin-left: 5px;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.4);
}
.header .trending-frame .link:last-child:after {
  content: "";
}
.header .mobile-header {
  background-color: #111111;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 10;
  padding: 0px 20px;
}
@media screen and (min-width: 992px) {
  .header .mobile-header {
    display: none;
  }
}
.header .mobile-header .brand-logo {
  display: inherit;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.header .mobile-header .brand-logo svg {
  width: 180px;
  height: 22px;
}
.header .mobile-header .action-icon {
  display: inherit;
  cursor: pointer;
}
.header .mobile-header .action-icon .icon {
  width: 22px;
  height: 22px;
  fill: #ffffff;
}
.header .mobile-header .action-icon.account {
  position: absolute;
  right: 20px;
}
.header .mobile-header .action-icon.search-btn {
  position: absolute;
  right: 55px;
}
.header .mobile-header .action-icon.close-search-btn {
  position: absolute;
  right: 55px;
  opacity: 0;
  display: none;
}
.header .mobile-header .action-icon.close-search-btn .icon {
  width: 16px;
  height: 16px;
}
.header .mobile-header .search-input-frame {
  position: absolute;
  right: 80px;
  opacity: 0;
  display: none;
  width: calc(100% - 160px);
}
.header .mobile-nav {
  position: fixed;
  top: 0px;
  width: 70%;
  left: -70%;
  height: 100%;
  background-color: #ffffff;
  z-index: 12;
}
@media screen and (min-width: 992px) {
  .header .mobile-nav {
    display: none;
  }
}
.header .mobile-nav .action-frame {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #e9e9e9;
}
.header .mobile-nav .action-frame .action-icon {
  cursor: pointer;
  display: inherit;
}
.header .mobile-nav .action-frame .action-icon .icon {
  width: 20px;
  height: 20px;
}
.header .mobile-nav .action-frame .close-btn {
  margin-left: auto;
}
.header .mobile-nav .action-frame .close-btn .icon {
  width: 14px;
  height: 14px;
}
.header .mobile-nav .content-frame {
  overflow-y: auto;
  height: calc(100% - 50px);
  padding-bottom: 20px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  /*Firefox*/
  scrollbar-color: #d0d0d0;
  scrollbar-width: thin;
}
.header .mobile-nav .content-frame::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.header .mobile-nav .content-frame::-webkit-scrollbar-track {
  border-radius: 5px;
}
.header .mobile-nav .content-frame::-webkit-scrollbar-thumb {
  background: #d0d0d0;
  border-radius: 5px;
}
.header .mobile-nav .content-frame::-webkit-scrollbar-thumb:hover {
  background: #c0c0c0;
}
.header .mobile-nav .main-nav-frame {
  border-bottom: 1px solid #e9e9e9;
}
.header .mobile-nav .main-nav-frame .main-title {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  color: #3a3a3a;
  height: 50px;
  line-height: 50px;
  padding: 0px 20px;
}
.header .mobile-nav .main-nav-frame .main-title:hover {
  color: #F49C00;
}
.header .mobile-nav .main-nav-frame .main-title.active .icon {
  animation: arrow-down 0.5s forwards;
}
.header .mobile-nav .main-nav-frame .main-title.non-active .icon {
  animation: arrow 0.5s forwards;
}
.header .mobile-nav .main-nav-frame .main-title .new-icon {
  position: relative;
  width: 34px;
  height: 34px;
}
.header .mobile-nav .main-nav-frame .main-title .icon {
  width: 12px;
  height: 12px;
  margin-left: auto;
}
@keyframes arrow-down {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes arrow {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.header .mobile-nav .main-nav-frame menu {
  padding: 0px 20px;
  max-height: 0px;
  overflow: hidden;
  background: linear-gradient(to bottom, #e8e8e8 0px, #e8e8e8 3px, #f8f8f8 3px, #f8f8f8 100%);
}
.header .mobile-nav .main-nav-frame menu .block {
  width: 100%;
  padding: 15px 0px;
  display: table;
}
.header .mobile-nav .main-nav-frame menu .block-row {
  display: flex;
  margin: 0px -7.5px;
}
.header .mobile-nav .main-nav-frame menu .block-row > ul {
  max-width: 50%;
  flex: 0 0 50%;
  padding: 0px 7.5px;
}
.header .mobile-nav .main-nav-frame menu label {
  font-size: 14px;
  font-weight: 800;
  color: rgba(206, 50, 37, 0.9);
  margin-bottom: 10px;
  white-space: nowrap;
}
.header .mobile-nav .main-nav-frame menu .item {
  width: 100%;
  margin-bottom: 12px;
  white-space: nowrap;
}
.header .mobile-nav .main-nav-frame menu .item:last-child {
  margin-bottom: 0px;
}
.header .mobile-nav .main-nav-frame menu .item.home {
  border-bottom: 1px solid #999;
  padding-bottom: 10px;
}
@media screen and (min-width: 992px) {
  .header .mobile-nav .main-nav-frame menu .item.home {
    display: none;
  }
}
.header .mobile-nav .main-nav-frame menu .item .link {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  transition: color 200ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
.header .mobile-nav .main-nav-frame menu .item .link:hover {
  color: #F49C00;
}
.header .mobile-nav .main-nav-frame menu .item .link:hover .icon {
  fill: #F49C00;
}
.header .mobile-nav .main-nav-frame menu .item .link .icon {
  transition: fill 200ms cubic-bezier(0.25, 0.8, 0.25, 1);
  min-width: 2;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  margin-top: -1.5px;
  fill: #333333;
}
.header .mobile-nav .subscribe-frame {
  border-bottom: 1px solid #e9e9e9;
  padding: 20px;
}
.header .mobile-nav .subscribe-frame .subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #CE3225;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  border-radius: 4px;
  padding: 15px;
}
.header .mobile-nav .subscribe-frame .subscribe-btn .icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  fill: #ffffff;
}
.header .mobile-nav .trending-frame {
  border-bottom: 1px solid #e9e9e9;
  padding: 20px 20px;
  box-shadow: none;
  display: block;
}
.header .mobile-nav .trending-frame .title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 15px;
}
.header .mobile-nav .trending-frame .link {
  display: block;
  width: 100%;
  margin-right: 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
  color: #3a3a3a;
}
.header .mobile-nav .trending-frame .link:hover {
  color: #CE3225;
}
.header .mobile-nav .trending-frame .link:after {
  content: "";
}
.header .mobile-nav .socail-frame {
  border-bottom: 1px solid #e9e9e9;
  padding: 20px 20px;
}
.header .mobile-nav .socail-frame .title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
}
.header .mobile-nav .socail-frame .wrapper {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.header .mobile-nav .socail-frame .wrapper .icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 100%;
}
.header .mobile-nav .logout-icon {
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.header .mobile-nav .logout-icon .icon {
  width: 18px;
  height: 18px;
  margin-right: 4px;
}
.header .header-bg {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11;
  opacity: 0;
}
@media screen and (min-width: 992px) {
  .header .header-bg {
    display: none;
  }
}

.search-input-form {
  position: relative;
}
.search-input-form.mobile {
  width: calc(100% - 30px);
}
.search-input-form.mobile .search-input {
  width: 100%;
  background-color: #f0f0f0;
  color: #333333;
}
.search-input-form.mobile .search-input::placeholder {
  color: #999999;
}
.search-input-form.mobile .search-input:focus {
  background-color: #f0f0f0;
}
.search-input-form.mobile .search-input:focus + .submit-btn svg {
  fill: #333333;
}
.search-input-form.mobile .submit-btn svg {
  fill: #333333;
}
.search-input-form .search-input {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  background-color: rgba(255, 255, 255, 0.12);
  padding-right: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  width: 160px;
  color: #fff;
  height: 37px;
  padding-left: 10px;
  padding-right: 35px;
  transition: background-color 100ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
.search-input-form .search-input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.search-input-form .search-input:focus {
  background-color: rgba(255, 255, 255, 0.18);
}
.search-input-form .search-input:focus + .submit-btn svg {
  fill: rgb(255, 255, 255);
}
.search-input-form .submit-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.search-input-form .submit-btn svg {
  min-width: 18px;
  width: 18px;
  height: 18px;
  fill: rgba(255, 255, 255, 0.8);
}

.search-input-frame {
  background: #ffffff;
  border-radius: 100px;
  height: 34px;
}
.search-input-frame .wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}
.search-input-frame .search-input {
  outline: none;
  font-weight: 300;
  color: #333333;
  border: none;
  padding: 0px 5px 0px 15px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-size: 15px;
  margin-right: auto;
}
.search-input-frame .search-input::placeholder {
  color: #999999;
}
.search-input-frame .submit-btn {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: inherit;
  margin-right: 12px;
}
.search-input-frame .submit-btn svg {
  min-width: 20px;
  width: 20px;
  height: 20px;
  fill: #333333;
}
#adspace {
  margin-top: 20px;
  text-align: center;
  background-color: #E6E8EB;
  padding: 10px 0px;
}
#adspace .adrow {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
#adspace .adcol-8, #adspace .adcol-4, #adspace .adcol-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
#adspace .adcol-8 {
  flex: 100%;
  max-width: 100%;
}
@media screen and (min-width: 992px) {
  #adspace .adcol-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}
#adspace .adcol-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  display: none;
}
@media screen and (min-width: 992px) {
  #adspace .adcol-4 {
    display: block;
  }
}
#adspace .adcol-12 {
  flex: 100%;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  #adspace .mobile-show {
    display: none;
  }
}
#adspace .desktop-show {
  display: none;
}
@media screen and (min-width: 768px) {
  #adspace .desktop-show {
    display: block;
  }
}
#adspace .txtadrow {
  background-color: #f49c00;
  padding: 10px 10px 10px 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#adspace .txtadrow a {
  color: #ffffff;
  font-size: 24px;
  line-height: 1.2em;
  font-weight: 700;
}
#adspace .txtadrow .tsp {
  color: #f6f6f6;
  font-size: 14px;
  padding: 3px 10px 0 3px;
  text-align: right;
}
/*footer css*/
.footer {
  background-color: #171821;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 25px;
}
.footer .title {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
  padding-top:30px;
}
.footer .item {
  margin-top: 15px;
}
.footer .item .link {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}
.footer .item .link:hover {
  color: #F49C00;
}
.footer .logo-icon {
  width: 180px;
  height: 27px;
}
.footer .copyright {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin-top: 20px;
  font-size: 13px;
  color: #83858F;
  text-align: left;
}
.footer .social-frame {
  margin-top: 25px;
}
.footer .social-frame .icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  transition: transform 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
@media screen and (min-width: 992px) {
  .footer .social-frame .icon {
    width: 30px;
    height: 30px;
    margin-right: 6px;
  }
  .footer .title {padding-top:20px;}
}
@media screen and (min-width: 1200px) {
  .footer .social-frame .icon {
    width: 36px;
    height: 36px;
    margin-right: 10px;
  }
  .footer .title {padding-top:20px;}
}
.footer .social-frame .icon:hover {
  transform: scale(1.1);
}
.footer .social-frame .twitter svg {
  border-radius: 100%;
  fill: #ffffff;
}
.footer .warn {
  margin-top: 45px;
  text-align: center;
  color: #ffffff;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
}
.footer .subscribe {
  display: inline-flex;
  align-items: center;
  margin-top: 30px;
  color: #ffffff;
  background-color: #CE3225;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  padding: 10px;
  border-radius: 6px;
  letter-spacing: 1px;
}
.footer .subscribe svg {
  width: 20px;
  height: 20px;
  margin-top: -3px;
  margin-right: 5px;
  fill: #ffffff;
}
.footer .info-block {
  text-align: left;
  padding-top:20px;
}
@media screen and (max-width: 992px) {
  .footer .info-block {
    padding-top:40px;
  }
}
/*mods*/
.clclgjs, .iframeclclgjs {padding:0;margin:0;cursor:pointer;display:inline-block;}
.addrow{overflow-x: auto;overflow-y:hidden;-ms-overflow-y:hidden; scrollbar-color: #dedede transparent; scrollbar-width: thin;}
.addrow::-webkit-scrollbar { height: 6px;}
.addrow::-webkit-scrollbar-track { border-radius: 10px;}
.addrow::-webkit-scrollbar-thumb { background: #cccccc; border-radius: 10px;}
.addrow::-webkit-scrollbar-thumb:hover { background: #bebebe}
.awh{width:100%;}
.mid-ad{margin-top: 20px;text-align: center;}
svg {vertical-align:inherit!important}
.tablet-show {display: none;}
@media screen and (max-width: 991px) {.tablet-show {display: block;  margin-top: 20px;  text-align: center;  background-color: #E6E8EB;  padding: 20px 0px;  border-radius: var(--border-radius);}}
@media screen and (max-width: 499px){.more-news .top .photo {display:none}}
.uln{text-decoration:underline;}
ul.list-arrow {padding: 10px 10px 0 10px;margin: 0;}
ul.list-arrow li {padding: 0.2em;list-style: none;}
ul.list-arrow li .icon {width: 14px;height: 14px;margin-right: 5px;}
.header .mobile-nav .main-nav-frame .link-frame .block.mtb0 {margin-top:0;margin-bottom:0;}
.header .mobile-nav .main-nav-frame .link-frame .block.mb0 {margin-bottom:0;}
.header .main-header .main-header-wrapper .main-nav-frame .nav-ul .main-link .link-frame .block.pt30 {padding-top: 30px;}
.tab-frame {
  width: 100%;
  height: 50px;
  margin-top: 25px;
  margin-bottom: 20px;
  position: relative;
  border-bottom: 3px solid #aaa;
  box-sizing: content-box;
  display: flex;
  align-items: center;
}
.tab-frame .text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 17px;
  padding-bottom: 10px;
  display: inline-block;
  border-bottom: 3px solid transparent;
  margin-bottom: -22px;
  z-index: 1;
  transition: color 0.1s ease-in-out;
  cursor: pointer;
  margin-right: 15px;
  white-space: nowrap;
}
.tab-frame .text:last-child {
  margin-right: 0px;
  width: 100%;
}
.tab-frame .text.active {
  color: #F49C00;
  border-bottom: 3px solid #F49C00;
}
/*tab mods*/
@media screen and (max-width: 500px) {
  .tab-frame .nav-link {
    padding-left:10px;
    padding-right:10px;
  }
}
@media screen and (min-width: 992px) {
  .nav-tabs.tab-frame .nav-item {
        margin-bottom: -2px!important;
  }
}
.range-news ul.bcountdown {counter-reset: number 11;}
.range-news ul.bcountdown .item::before {counter-increment: number -1;content: "#"counter(number);background-color: #222222;color: #ffffff;border-radius: 5px;display: inline-flex;justify-content: center;min-width: 32px;width: 32px;height: 20px;font-size: 15px;line-height: 20px;margin-right: 15px;margin-top: 0px;}
.range-news ul.bcountdown .item:hover .link {color: #F49C00;}
.range-news ul.bcountdown .item:hover::before {background-color: #F49C00;}
.range-news .more-btn {box-shadow: var(--photo-shadow);display: inline-flex;align-items: center;justify-content: center;border-radius: 5px;background-color: #000000;color: #ffffff;font-size: 14px;padding:7px 10px;margin-top:10px;text-transform: uppercase;}
.range-news .wrapper{align-items:flex-end;display:flex;justify-content:flex-end}
.range-news .wrapper .more-btn:hover {color: #F49C00;}